.cf:before, .cf:after {
  content:" ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.menu {
  list-style:none;
  margin: 8px auto;
  width: 500px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  z-index: 1000;
}
.menu > li {
  background: #C60000;
  float: left;
  position: relative;
  -webkit-transform: skewX(12deg);
  border: 3px solid #fff;
  transition: 1s;
}
.menu a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Ubuntu-Bl, Helvetica;
  letter-spacing: 0.15em;
  font-size: 15.5px;
  transition: 1s;
}
.menu li:hover {
  background: #FFABAB;
  transition: 1s007ABE;
  border: 3px solid #C60000;
}
.menu a:hover{
  color: #fff;
  text-shadow: 2.5px 2.5px 0px #C60000;
}
.menu > li > a {
  -webkit-transform: skewX(-12deg);
  padding: 1em 2em;
}
/* Dropdown */
.submenu {
  position: absolute;
  width: 230px;
  left: 40%;
  margin-left: -100px;
  -webkit-transform: skewX(-12deg);
  -webkit-transform-origin: left top;
  z-index: 1000;

}
.submenu li {
  background-color: #C60000;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
}
.submenu > li > a {
  padding: 1em 2em;
}
.submenu > li::after {
  content:'';
  position: absolute;
  top: -125%;
  height: 100%;
  width: 100%;rgba(0, 0, 0, .9);
}
/* Odd stuff */
.submenu > li:nth-child(odd) {
  -webkit-transform: skewX(-12deg) translateX(0);
}
.submenu > li:nth-child(odd) > a {
  -webkit-transform: skewX(12deg);
}
.submenu > li:nth-child(odd)::after {
  right: -50%;
  -webkit-transform: skewX(-12deg) rotate(3deg);
}
/* Even stuff */
.submenu > li:nth-child(even) {
  -webkit-transform: skewX(12deg) translateX(0);
}
.submenu > li:nth-child(even) > a {
  -webkit-transform: skewX(-12deg);
}
.submenu > li:nth-child(even)::after {
  left: -50%;
  -webkit-transform: skewX(12deg) rotate(3deg);
}
/* Show dropdown */
.submenu, .submenu li {
  opacity: 0;
  visibility: hidden;
}
.submenu li {
  transition: 0.2s ease -webkit-transform;

}
.menu > li:hover .submenu, .menu > li:hover .submenu li {
  opacity: 1;
  visibility: visible;
  transition: 1s;
}
.menu > li:hover .submenu li:nth-child(even) {
  -webkit-transform: skewX(12deg) translateX(15px);
  transition: 1s;
}
.menu > li:hover .submenu li:nth-child(odd) {
  -webkit-transform: skewX(-12deg) translateX(-15px);
  transition: 1s;
}